@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --cinza: #a6a6a6;
    --preto: #000;
    --bege: #d4b998;
    --branco: #fff;
    --grey: #2b2a2a;
}

.headNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--branco);
    color: var(--preto);
}
.headNav img {
    height: 60px;
    width: 60px;

}
nav a {
    margin: 0 2rem;
    color: var(--preto);
    text-decoration: none;    
    transition: all 0.2 ease;
}
nav a:hover{
    color: var(--bege);

}

header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--preto);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}


@media only screen and (max-width: 1024px){
    .headNav .nav-btn {
        visibility: visible;
        opacity: 1;
    }
    .headNav nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-bottom-right-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--branco);
        transition: 1s;
        transform: translateY(-100vh);
    }
    header .responsive_nav {
        transform: none;
    }
    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
    nav a{
        font-size: 1.5rem;
    }
}
